* {
  font-family: var(--ff-fredoka);
}

nav {
  background-color: var(--pc-amparo-blue);
  height: 68px;
}

img {
  height: 64px;
}

.nav-link {
  color: var(--tce-1) !important;
  font-size: 16px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.nav-link:hover {
  background-color: var(--pc-hole-in-one); /*#945aaf*/
  color: var(--tce-1) !important;
  border-radius: 10px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

nav ul li a svg {
  fill: var(--tce-1);
}

.active {
  background-color: var(--pc-hole-in-one); /*#945aaf*/
  border-radius: 10px;
}
