<!-- Footer -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


  <footer class="text-center text-white" style="background-color: #4862af;">
    <div class="container-xl" style="padding-top: 10px;">

    <div class=" col-4 justify-content-start list-unstyled " style="height:0; width: 300px;">
       
          <img src="../../assets/img/logo-small-bookish.png" height="100" width="170" class="d-inline-block align-text-top" alt="Bookish-logo" style="margin-top: 15px;">
      
            <p class="text-white">Un Lugar que Cautiva</p>
         
          
        <!-- <span class="text-white">Un Lugar que Cautiva</span> -->
  
      </div>
      <!-- Grid container -->
      <div class="container " style="padding: 10px;">
        <!-- Section: Social media -->
        <section class="justify-content-end list-unstyled d-flex" style="margin-right: 10px;">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
        
    
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
      
       
    
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
    
        <!-- Section: Form -->
        <section>
  
        <section>
          <ul class="nav justify-content-center " >
            <li class="nav-item"><a style="font-size: 20px;" href="#" class="nav-link px-2 text-white">Nosotros</a></li>
            <li class="nav-item"><a style="font-size: 20px;" href="#" class="nav-link px-2 text-white">Terminos</a></li>
            <li class="nav-item"><a style="font-size: 20px;" href="#" class="nav-link px-2 text-white">Condiciones</a></li>
            <li class="nav-item"><a style="font-size: 20px;" href="#" class="nav-link px-2 text-white">Aviso Legal</a></li>
           
          </ul>
        </section>
          
            <!--Grid row-->
            <div class="row d-flex justify-content-end">
              <!--Grid column-->
              
              <!--Grid column-->
    
              <!--Grid column-->
              
              <div class="col-auto">
                <p class="pt-2">
                  <strong>Suscribete</strong>
                </p>
              </div>
              <div class="col-md-2 col-10">
                <!-- Email input -->
                
                <div class="input-group">
                  <input type="email" id="form5Example21" class="form-control" />
                  <span class="input-group-btn">
                    <a style="color: #ffffff;" href="#!" role="button" class="btn btn-success ">
                      <i class="fas fa-paper-plane"></i>
                    </a>
                  </span>
                </div>
                
              </div>

              
              <!--Grid column-->
    
              <!--Grid column-->
              
              <!--Grid column-->
              
            </div>
            
            <!--Grid row-->
          
        </section>
        <!-- Section: Form -->
    
        <!-- Section: Text -->
        <!-- <section class="mb-4">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
            repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
            eum harum corrupti dicta, aliquam sequi voluptate quas.
          </p>
        </section> -->
        <!-- Section: Text -->
    
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
           
            <!--Grid column-->
    
            <!--Grid column-->
            
            <!--Grid column-->
    
            <!--Grid column-->
            <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
    
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li>
              </ul>
            </div> -->
            <!--Grid column-->
    
            <!--Grid column-->
           
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-1 border-top pb-2 mb-2" style="background-color: #4862af;">
        © 2022 Copyright:
        <a class="text-white " href="#">juanitoclavounclavito.com</a>
      </div>
      <!-- Copyright -->
    </div>
    </footer>
    <!-- Footer -->


