<div class="container my-5">
  <mat-card>
    <mat-card-title class="row my-4">Inicia Sesión</mat-card-title>
    <mat-card-subtitle class="row my-3">Entérate de todas las novedades de tus autores favoritos</mat-card-subtitle>
    <form [formGroup]="frmLogin" (ngSubmit)="onSubmit(usuario.value, password.value)">
      <mat-form-field class="campos-field mt-3">
        <input matInput placeholder="Usuario" formControlName="usuario" #usuario>
      </mat-form-field>

      <mat-form-field class="campos-field">
        <input matInput placeholder="Password" formControlName="password" #password>
      </mat-form-field>

      <button class="my-5" mat-raised-button color="primary">Iniciar</button>
    </form>
  </mat-card>
</div>
