<div
  id="carouselExampleControls"
  class="carousel slide carousel-fade container-xl mt-5"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../assets/img/slide1.png"
        class="d-block w-100"
        data-bs-interval="10000"
        alt="descuento"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/img/slide2.png"
        class="d-block w-100"
        data-bs-interval="10000"
        alt="feria"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/img/slide3.png"
        class="d-block w-100"
        data-bs-interval="10000"
        alt="semana-libro"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-xl mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="row row-cols-4">
        <div class="col">
          <div class="card">
            <img
              src="../../assets/img/lunapluton.jpg"
              alt="img1"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">Luna de pluton</h5>
              <p class="card-text">$50</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">2</div>
        </div>

        <div class="col">
          <div class="card">3</div>
        </div>

        <div class="col">
          <div class="card">4</div>
        </div>

        <div class="col">
          <div class="card">5</div>
        </div>

        <div class="col">
          <div class="card">6</div>
        </div>

        <div class="col">
          <div class="card">7</div>
        </div>

        <div class="col">
          <div class="card">8</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4"></div>
  </div>
</div>
