<div id="carouselExampleControls" class="carousel slide carousel-fade container-xl mt-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img/slide1.png" class="d-block w-100" data-bs-interval="10000" alt="descuento">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/slide2.png" class="d-block w-100" data-bs-interval="10000" alt="feria">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/slide3.png" class="d-block w-100" data-bs-interval="10000" alt="semana-libro">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>

<p >NOVEDADES</p>
<div class="container-xl mt-5">
    <div class="row" >
      <div class="col-md-8">

          <div class="row row-cols-4">

            <div class="col">
              <div class="card">
                <img src="../../assets/img/books/Bratva.webp" alt="img1" class="card-img-top">
                <div class="card-body">
                  <p class="book-name">Bratva</p>
                  <p class="book-autor">Gleen Black</p>
                </div>
                <div class="card-footer btn">
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm" style="font-size: 20px; font-weight: bold; text-align: center;">$98.00</div>
                    <div class="col-sm cart-comprar">
                      <i class="bi bi-cart-fill" style="font-size: 1.5rem;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card">
                <img src="../../assets/img/books/Caraval.webp" alt="img1" class="card-img-top">
                <div class="card-body">
                  <p class="book-name">Bratva</p>
                  <p class="book-autor">Gleen Black</p>
                </div>
                <div class="card-footer btn">
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm" style="font-size: 20px; font-weight: bold; text-align: center;">$63.00</div>
                    <div class="col-sm cart-comprar">
                      <i class="bi bi-cart-fill" style="font-size: 1.5rem;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card">
                <img src="../../assets/img/books/Damian.webp" alt="img1" class="card-img-top">
                <div class="card-body">
                  <p class="book-name">Bratva</p>
                  <p class="book-autor">Gleen Black</p>
                </div>
                <div class="card-footer btn">
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm" style="font-size: 20px; font-weight: bold; text-align: center;">$52.00</div>
                    <div class="col-sm cart-comprar">
                      <i class="bi bi-cart-fill" style="font-size: 1.5rem;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img src="../../assets/img/books/Lavinia.webp" alt="img1" class="card-img-top">
                <div class="card-body">
                  <p class="book-name">Bratva</p>
                  <p class="book-autor">Gleen Black</p>
                </div>
                <div class="card-footer btn">
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm" style="font-size: 20px; font-weight: bold; text-align: center;">$32.00</div>
                    <div class="col-sm cart-comprar">
                      <i class="bi bi-cart-fill" style="font-size: 1.5rem;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
            <div class="col">
              <div class="card">
                <img src="../../assets/img/books/Bratva.webp" alt="img1" class="card-img-top">
                <div class="card-body">
                  <p class="book-name">Bratva</p>
                  <p class="book-autor">Gleen Black</p>
                </div>
                <div class="card-footer btn">
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm" style="font-size: 20px; font-weight: bold; text-align: center;">$12.00</div>
                    <div class="col-sm cart-comprar">
                      <i class="bi bi-cart-fill" style="font-size: 1.5rem;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img src="../../assets/img/books/Nerd.webp" alt="img1" class="card-img-top">
                <div class="card-body">
                  <p class="book-name">Bratva</p>
                  <p class="book-autor">Gleen Black</p>
                </div>
                <div class="card-footer btn">
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm" style="font-size: 20px; font-weight: bold; text-align: center;">$12.00</div>
                    <div class="col-sm cart-comprar">
                      <i class="bi bi-cart-fill" style="font-size: 1.5rem;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
      <div class="col-6 col-md-4">
        <h1>Noticias destacadas</h1>
        <div class="card mb-3" style="max-width: 440px">
          <div class="row">
            <div class="col-md-5">
              <img
                src="../../assets/img/noticias/autora.jpg"
                class="img-fluid rounded-start"
                alt="autora"
              />
            </div>
            <div class="col-md-7 mr-2 modal-dialog-centered">
              <p class="card-text">
                La autora ecuatoriana Victoria Vaccaro gana el Premio
                Internacional de poesía Ana María Iza
              </p>
            </div>
          </div>
        </div>
  
        <div class="card mb-3" style="max-width: 440px">
          <div class="row">
            <div class="col-md-5">
              <img
                src="../../assets/img/noticias/lectura.jpg"
                class="img-fluid rounded-start"
                alt="autora"
              />
            </div>
            <div class="col-md-7 mr-2 modal-dialog-centered">
              <p class="card-text text-center">
                Los ecuatorianos leen un libro completo al año de media, según
                encuesta
              </p>
            </div>
          </div>
        </div>
  
        <div class="card mb-3" style="max-width: 440px">
          <div class="row">
            <div class="col-md-5">
              <img
                src="../../assets/img/noticias/rodrigo.jpg"
                class="img-fluid rounded-start"
                alt="autora"
              />
            </div>
            <div class="col-md-7 mr-2 modal-dialog-centered">
              <p class="card-text">
                Las crónicas que moldearon la vida del periodista Rodrigo Alonso
              </p>
            </div>
          </div>
        </div>
  
        <div class="card mb-3" style="max-width: 440px">
          <div class="row">
            <div class="col-md-5">
              <img
                src="../../assets/img/noticias/ruiseñor.jpg"
                class="img-fluid rounded-start"
                alt="autora"
              />
            </div>
            <div class="col-md-7 mr-2 modal-dialog-centered">
              <p class="card-text">
                Universo de Libros: El papá perfecto que soñaba con la igualdad
                que la escritora Harper Lee creó en ‘Matar a un ruiseñor’
              </p>
            </div>
          </div>
        </div>
  
        <div class="card mb-3" style="max-width: 440px">
          <div class="row">
            <div class="col-md-5">
              <img
                src="../../assets/img/noticias/ulises.jpg"
                class="img-fluid rounded-start"
                alt="autora"
              />
            </div>
            <div class="col-md-7 mr-2 modal-dialog-centered">
              <p class="card-text">
                El mundo cultural en los años del ‘Ulises’ de Joyce
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
